@import url('https://fonts.cdnfonts.com/css/the-skinny');
@import url('https://fonts.cdnfonts.com/css/kg-midnight-memories');

html {
    width: 100%;
    background-color: black;
    font-family: 'KG Midnight Memories', 'The Skinny', sans-serif;
    scrollbar-width: none;
}

#store_logo {
    width: 100px;
    height: 100px;
    vertical-align: middle;
    margin-left: 2%;
    color: white;
    transition-duration: 100ms;
}

#store_logo:hover {
    width: 120px;
    height: 120px;
    transition-duration: 100ms;
}

.menubar {
    list-style-type: none;
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 80%;
    text-align: center;
    color: beige;
}

.menubar_button:hover {
    background-color: red;
    color: whitesmoke;
    padding-top: 1.5%;
    padding-bottom: 1.5%;
    cursor: default;
    font-weight: bold;
    transition-duration: 150ms;
}

.menubar_button {
    font-size:large;
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 1.5%;
    padding-bottom: 1.5%;
    color: white;
    transition-duration: 60ms;
}

#announcements_bar {
    background-color: rgb(255, 255, 255);
    width: 90%;
    height: 30px;
    font-size: large;
    font-weight: bold;
    color: black;
    padding-top: 5px;
    padding-left: 5%;
    padding-right: 5%;
    user-select: none;
}

#menubar_div {
    min-height: 150px;
    max-height: 200px;
}

#itemtypebar_div {
    background-color: rgb(0, 0, 0);
    margin-top: 0%;
    padding-top: 0%;
    padding-bottom: 0%;
    font-size: larger;
    max-height: 50px;
}

.typebar {
    background-color: rgb(0, 0, 0);
    list-style-type: none;
    display: inline-flex;    
    width: 95%;
    align-content: center;
    flex-wrap: wrap;
}

.typebar_button {    
    padding-left: 7%;
    padding-right: 7%;
    text-align: center;
    color: white;
}

.typebar_button:hover {
    background-color: red;
    color: whitesmoke;
    padding-top: 0.3%;
    padding-bottom: 0.3%;
    cursor: default;
    font-weight: bold;
    transition-duration: 150ms;
}


#store_div {
    display: inline-flex;
    width: 97%;
    min-height: 500px;
    align-content: center;
    padding: 2%;
    column-gap: 2%;
    row-gap: 2%;
    flex-wrap: wrap;
}

.storerow {
    display: inline-flex;
    flex-wrap: wrap;
    width: 100%;
    padding-top: 15px;
}

.productcard {
    display: inline-flex;
    border: 1px solid rgb(255, 255, 255);
    width: 310px;
    height: 400px;
    align-content: center;
    cursor: pointer;
    margin-left: 3%;
    flex-wrap: wrap;
}

.productpicture {
    width: 240px;
    height: 240px;
    margin-left: 11%;
    margin-right: 11%;
    padding-top: 5%;
}

.productcardname {
    font-size: 28px;
    font-weight: bold;
    margin-left: 12%;
    color: white;
    padding-top: 6%;
}

.productcardprice {
    font-size: 26px;
    font-weight: bold;
    margin-left: 30%;
    color: white;
}

.stockstatus {
    font-size: 21px;
    font-weight: bold;
    margin-left: 10%;
    color: white;
}

.bottomnav {
    background-color: black;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
    width: 20%;
}

#bottompagebar {
    list-style-type: none;
    padding-left: 2%;
    padding-right: 2%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.pagenumber {
    color: white;
    display: inline;
    margin-left: 0;
    font-weight: bolder;
    font-size: 36px;
    padding-left: 5%;
    padding-right: 5%;
    cursor: pointer;
}